
{% extends 'base.html' %}
{% load static %}
    
{% block meta %} 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
{% endblock %}
{% block content %} 
    <div class="container mt-5">
        <button class="btn btn-primary" onclick="Back()">Back</button>
        <div class="d-grid gap-2 col-6 mx-auto">
            <div class="row">
                    <div class="col-12 text-center">
                        <h1>Book From Writer</h1>
                    </div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Title</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody id ='data-container'>
                        </tbody>
                      </table>
                </div>
        

    
</div>
    </div>

<script>
    function Back() {
            window.history.back();
        }

    function acceptBook(bookID) {
    $.ajax({
        type: 'POST',
        url: 'acceptBook',  // Replace with your actual POST URL endpoint
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            book_id: bookID
        },
        success: function(response) {
            console.log('The book was accepted');
            location.reload();
        },
        error: function() {
            console.error('Failed to perform POST request.');
        }
    });
}

    function denyBook(bookID) {
    $.ajax({
        type: 'POST',
        url: 'deniedBook',  // Replace with your actual POST URL endpoint
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            book_id: bookID
        },
        success: function(response) {
            console.log('The book was denied');
            location.reload();
        },
        error: function() {
            console.error('Failed to perform POST request.');
        }
    });
}
    $(document).ready(function() {
        $.ajax({
            url: 'api/acc',  
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                // Handle the returned data here

                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    var buttonA = $('<button>').text('Accepted');
                    
                        buttonA.click(function(){
                        // Perform AJAX POST request when the button is clicked
                        $.ajax({
                            type: 'POST',
                            url: 'acceptBook',  // Replace with your actual POST URL endpoint
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                book_id: item.fields.bookID // Include any necessary data for the POST request
                            },
                            success: function(response){
                                // Handle success response
                                console.log('The book was accepted');
                                location.reload();
                            },
                            error: function(){
                                // Handle error if the AJAX request fails
                                console.error('Failed to perform POST request.');
                            }
                        });
                    });
                        


                    var buttonD = $('<button>').text('Denied');

                        buttonD.click(function(){
                        // Perform AJAX POST request when the button is clicked
                        $.ajax({
                            type: 'POST',
                            url: 'deniedBook',  // Replace with your actual POST URL endpoint
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                book_id: item.fields.bookID // Include any necessary data for the POST request
                            },
                            success: function(response){
                                // Handle success response
                                console.log('The book was accepted');
                                location.reload();
                            },
                            error: function(){
                                // Handle error if the AJAX request fails
                                console.error('Failed to perform POST request.');
                            }
                        });
                    });
                // Do something with each item, for example, append it to a list

                    $('#data-container').append(
                    "<tr>" +
                        "<th scope=\"row\">" + (i+1) + "</th>" +
                            "<td>" + item.fields.title + "</td>" +

                            "<td> <a class=\"btn btn-primary\" href=\"book/" + item.fields.bookID + "\" role=\"button\">DETAIL</a> </td>" +
                            "<td><button class=\"btn btn-success\" onclick=\"acceptBook(" + item.fields.bookID + ")\">ACCEPT</button></td>" +
                            "<td><button class=\"btn btn-danger\" onclick=\"denyBook(" + item.fields.bookID + ")\">DENIED</button></td>" +
                            "</tr>"
                          );
                
            
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
</script>
{% endblock %}