{% extends 'base.html' %}
{% load static %}

{% block meta %} 
{% endblock %}

{% block content %} 
        <div class="container mt-5">
                <div class="d-grid gap-2 col-6 mx-auto">
                        <div class="row">
                                <div class="col-12 text-center">
                                    <h1>WELCOME EMPLOYEE</h1>
                                </div>
                            </div>
                        <a class="btn btn-primary" href="catalog" role="button">Catalog Book</a>
                        <a class="btn btn-primary" href="set-book" role="button">Setting Book</a>
                        <a class="btn btn-primary" href="book-from-writer" role="button">Book From Writer</a>
                </div>
        </div>
                
        
        
{% endblock %}