{% extends 'base.html' %}
{% load static %}
    
{% block meta %} 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
{% endblock %}
{% block content %} 
<header class="header">
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'employee:main' %}">PagePerfect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
                    <li class="nav-item d-flex">
                        <a class="btn btn-danger me-2" href="{% url 'main:logout' %}" role="button">Logout</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="container mt-5">
        <button class="btn btn-primary" onclick="Back()">Back</button>
        <div class="d-grid gap-2 col-6 mx-auto">
            <div class="row">
                    <div class="col-12 text-center">
                        <h1>ACTIVE BOOK</h1>
                    </div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Title</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody id ='data-container-show'>
                        </tbody>
                      </table>
                </div>   
</div>
    </div>

    <div class="container mt-5">
        <div class="d-grid gap-2 col-6 mx-auto">
            <div class="row">
                    <div class="col-12 text-center">
                        <h1>NOT ACTIVE BOOK</h1>
                    </div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Title</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody id ='data-container-not-show'>
                        </tbody>
                      </table>
                </div>   
</div>
    </div>

<script>
    function Back() {
            window.history.back();
        }
    function attachUnshow(catalogID) {
    $.ajax({
        type: 'POST',
        url: 'notshow',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            catalog_id: catalogID
        },
        success: function(response){
            location.reload();
        },
        error: function(){
            console.error('Failed to perform POST request.');
        }
    });
}

function attachshow(catalogID) {
    $.ajax({
        type: 'POST',
        url: 'show',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            catalog_id: catalogID
        },
        success: function(response){
            location.reload();
        },
        error: function(){
            console.error('Failed to perform POST request.');
        }
    });
}
    $(document).ready(function() {
    $.ajax({
        url: 'api/catalog',  
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                
                if(item.isShow){
                    $('#data-container-show').append(
                        "<tr>" +
                        "<th scope=\"row\">" + (i+1) + "</th>" +
                        "<td>" + item.title + "</td>" +
                        "<td> <a class=\"btn btn-primary\" href=\"book/" + item.bookID + "\" role=\"button\">DETAIL</a> </td>" +
                        "<td><button class=\"btn btn-success\" onclick=\"attachUnshow(" + item.Catalog + ")\">UNSHOWN</button></td>" +
                        "</tr>"
                    );
                } else {
                    $('#data-container-not-show').append(
                        "<tr>" +
                        "<th scope=\"row\">" + (i+1) + "</th>" +
                        "<td>" + item.title + "</td>" +
                        "<td> <a class=\"btn btn-primary\" href=\"book/" + item.bookID + "\" role=\"button\">DETAIL</a> </td>" +
                        "<td><button class=\"btn btn-success\" onclick=\"attachshow(" + item.Catalog + ")\">SHOW</button></td>" +
                        "</tr>"
                    );
                }
            }
        },
        error: function(error) {
            console.log(error);
        }
    });
});



</script>
{% endblock %}