<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Perfect</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Setting Book To Member</h1>
<div id="data-container-show">
    <p>SHOW</p>
</div>

<div id="data-container-not-show">
    <p>NOT SHOW</p>
</div>

<script>
    $(document).ready(function() {
    $.ajax({
        url: 'api/catalog',  
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            // Handle the returned data here

            for (var i = 0; i < data.length; i++) {
                var item = data[i];
                var buttonA = $('<button>').text('UNSHOW');
                attachButtonClickHandler(buttonA, item, 'notshow');

                var buttonD = $('<button>').text('SHOW');
                attachButtonClickHandler(buttonD, item, 'show');
                
                // Do something with each item, for example, append it to a list
                if(item.isShow){
                    $('#data-container-show').append('<li>ID: ' + item.bookID + 
                        ', Name: ' + item.title + 
                        '</li>', buttonA);
                } else {
                    $('#data-container-not-show').append('<li>ID: ' + item.bookID + 
                        ', Name: ' + item.title + 
                        '</li>', buttonD);
                }
            }
        },
        error: function(error) {
            console.log(error);
        }
    });
});

function attachButtonClickHandler(button, item, endpoint) {
    button.click(function(){
        // Perform AJAX POST request when the button is clicked
        $.ajax({
            type: 'POST',
            url: endpoint,  
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                catalog_id: item.Catalog // Include any necessary data for the POST request
            },
            success: function(response){
                // Handle success response
                console.log('The book was ' + (endpoint === 'notshow' ? 'not ' : '') + 'showed');
                console.log(item.Catalog);
                location.reload();
            },
            error: function(){
                // Handle error if the AJAX request fails
                console.error('Failed to perform POST request.');
            }
        });
    });
}
</script>

</body>
</html>